.button{

    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-style: Yu Gothic;
}

.gridPane{
    -fx-background-color: blue;
}

.button:hover{
    -fx-background-color: #111111;
}

.settings{
    -fx-background-color: #222222;
}